{
  "api": {
    "calls": [
      "accounts"
    ],
    "services": {
      "coinigy": {
        "apiKey": "xxx",
        "apiSecret": "xxx",
        "endpoint": "https://api.coinigy.com/api/v1"
      }
    }
  },

  "logger": {
    "level": "INFO",
    "modules": {
      "test": {
        "level": "DEBUG"
      },
      "api": {
        "level": "DEBUG"
      },
      "coinigy": {
        "level": "WARNING"
      }
    }
  },

  "subscriptions": {
    "trade": [
      "TRADE-OK--BTC--CNY",
      "TRADE-BITF--BTC--USD"
    ],
    "order": [
      "ORDER-OK--BTC--USD"
    ]
  },

  "publishers": {
    "trade": "./data/trades.csv",
    "order": "./data/orders.csv"
  }
}
