{
  "api": {
    "ratelimit": 1,
    "calls": {
      "accounts": {
        "delay": 3,
        "priority": 1,
        "arguments": null
      }
    },
    "services": [
      {
        "name": "coinigy",
        "credentials": {
          "apikey": "xxx",
          "secret": "xxx"
        },

        "subscriptions": {
          "xxx-account-channel-key-goes-here-xxx": "ws_trade_ticker",
          "TICKER": "ticker"
        },

        "exchanges": [
          "BTRX"
        ],

        "endpoints": {
          "rest": "https://api.coinigy.com/api/v1",
          "websocket": "wss://sc-02.coinigy.com/socketcluster/"
        }
      }
    ]
  },

  "logger": {
    "level": "INFO",
    "modules": {
      "test": {
        "level": "DEBUG"
      },
      "api": {
        "level": "DEBUG"
      },
      "coinigy": {
        "level": "DEBUG"
      }
    }
  },

  "currencies": [
    "BTC",
    "USD",
    "XRP",
    "ETH",
    "ETC",
    "LTC"
  ]

}
